<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		
	<title th:text="#{view.rent.title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../../resources/img/favicon.ico" type="image/x-icon" th:href="@{/resources/img/favicon.ico}"/>

	<!-- Bootstrap Core CSS -->
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
	
    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css"/>
    <link href="../../../resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen" th:href="@{/resources/font-awesome/css/font-awesome.min.css}"/>

    <!-- Plugin CSS -->
    <link href="../../../resources/css/animate.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/animate.min.css}"/>

    <!-- Custom CSS -->
    <link href="../../../resources/css/rental.css" rel="stylesheet" media="screen" th:href="@{/resources/css/rental.css}"/>
	
	<!-- IE9 Scripts -->
   	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    
    </head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="../home/index.html">Home</a>
            </div>

   <!--          Collect the nav links, forms, and other content for toggling
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            /.navbar-collapse -->
        
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Rent a bike</h1>
                <hr>
                <p>We have a wide range of safety assured bicycles for all ages and genders.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Lets Begin</a>
                </hr>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Reserve or Rent Today!</h2>
                    <hr class="light">
                    <p class="text-faded">To start you rays rental experience fill in the form below or first view the bike we have to offer.</p>
                    <a href="#" class="btn btn-default btn-xl">Our Bicycle Collection</a>
                    </hr>
                </div>
            </div>
        </div>
    </section>

     <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Ride Away Today</h2>
                <hr class="primary">
                
                </hr>
        	</div>
      	</div>
     </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <hr class="primary">
                    <p>Do not hesitate to contact us if you need any further information and would like to speak over the phone or e-mail us</p>
                	</hr>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>0800737854</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:matthew.griffin@myfuturesbright.co.uk">info@raysrentals.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="../../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="../../../resources/js/jquery.easing.min.js" th:src="@{/resources/js/jquery.easing.min.js}"></script>
    <script src="../../../resources/js/jquery.fittext.js" th:src="@{/resources/js/jquery.fittext.js}"></script>
    <script src="../../../resources/js/wow.min.js" th:src="@{/resources/js/wow.min.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../../resources/js/creative.js" th:src="@{/resources/js/creative.js}"></script>

</body>

</html>
