<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
	    <title th:text="#{view.index.title}">Welcome!</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
	    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
	    <script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	</head>

	<body>
		<div th:replace="fragments/header :: header">&nbsp;</div>
			<div class="container">
			
			 <th:block th:if="${message != null}">
			 <!-- /* The message code is returned from the @Controller */ -->
				<div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
				    </th:block>
				
				    
				     <div class="row">
				        <div class="col-md-4 center">
				           <h1>Rent Bike</h1>
				           <a class="btn btn-default" href="rent/bike">Rent a bike</a>
				         </div>
				         <div class="col-md-4">
				           <h1>Return Bike</h1>
				            <a class="btn btn-default" href="#">Return a bike </a>
				          </div>
				          <div class="col-md-4">
				             <h1>Manage Bikes</h1>
				             <a class="btn btn-default" href="#">Manage Bikes</a>
				          </div>
				       </div>
				   </div>
	</body>
</html>