<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		
	<title th:if="${#authorization.expression('!isAuthenticated()')}" th:text="#{view.index.title}"></title>
	<title th:if="${#authorization.expression('isAuthenticated()')}" th:text="'Rays Rentals | ' + ${#authentication.principal.username}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="../../../resources/img/favicon.ico" type="image/x-icon" th:href="@{/resources/img/favicon.ico}"/>

	<!-- Bootstrap Core CSS -->
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
	
    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css"/>
    <link href="../../../resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen" th:href="@{/resources/font-awesome/css/font-awesome.min.css}"/>

    <!-- Plugin CSS -->
    <link href="../../../resources/css/animate.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/animate.min.css}"/>

    <!-- Custom CSS -->
    <link href="../../../resources/css/creative.css" rel="stylesheet" media="screen" th:href="@{/resources/css/creative.css}"/>
	
	<!-- IE9 Scripts -->
   	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    
    </head>

<body id="page-top">
<!-- Admin Nav Bar -->
    <nav th:if="${#authorization.expression('isAuthenticated()')}" id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" th:text="'Rays Rentals | ' + ${#authentication.principal.username}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                	<li>
                        <a href="/signup" class="page-scroll" th:href="@{/signup}">Register</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Orders</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Bikes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Stock</a>
                    </li>
                    <li>
	                 	<a href="/logout" th:href="@{#}" onclick="$('#form').submit();">Logout</a>
	                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
               		 </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!-- Customer Nav Bar -->
<nav th:if="${#authorization.expression('!isAuthenticated()')}" id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Rays Rentals</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="/signin" class="page-scroll" th:href="@{/signin}">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav> 

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 th:if="${#authorization.expression('!isAuthenticated()')}">Rays Rentals</h1>
                <h1 th:if="${#authorization.expression('isAuthenticated()')}" th:text="'Welcome, ' + ${#authentication.principal.username}"></h1>
                <hr>
                <!-- Admin Text -->
                <p th:if="${#authorization.expression('isAuthenticated()')}">Welcome to the admin dashboard, here you can view orders, manage bikes and stocks and also respond to general customer enquiries.</p>
                <!-- Customer Text and button -->
                <p th:if="${#authorization.expression('!isAuthenticated()')}">With over 150 bicycles, regular maintenance safety checks and a dedicated hiring team to help you make your choice, Rays Rentals is the only choice for bike rental.</p>
                <a th:if="${#authorization.expression('!isAuthenticated()')}" href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                </hr>
            </div>
        </div>
    </header>

    <section th:if="${#authorization.expression('!isAuthenticated()')}" class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">View our wide collection of bikes for everyone, contact us for any enquiries or rent your bike today or reserve it for a later date!</p>
                    </hr>
                </div>
            </div>
        </div>
    </section>

    <section th:if="${#authorization.expression('!isAuthenticated()')}" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Services</h2>
                    <hr class="primary">
                    </hr>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bicycle wow bounceIn text-primary"></i>
                        <h3>Our Bikes</h3>
                        <p class="text-muted">With over 150 Bicycles we have something for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cog wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Improve your experience</h3>
                        <p class="text-muted">We also sell a wide range of accessories for your bike.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Ride away today</h3>
                        <p class="text-muted">Rent a bike today or reserve one for a later date.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Regular Maintenance</h3>
                        <p class="text-muted">Our bikes are regularly safety checked so your safety is guaranteed.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="../../../resources/img/pagespreview/1.jpg" th:src="@{/resources/img/pagespreview/1.jpg}" class="img-responsive" alt=""/>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Stock
                                </div>
                                <div class="project-name">
                                    View our collection
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="../../../resources/img/pagespreview/2.jpg" th:src="@{/resources/img/pagespreview/2.jpg}" class="img-responsive" alt=""/>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Enquiries
                                </div>
                                <div class="project-name">
                                    Ask us a question or view our FAQs
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="../../../resources/img/pagespreview/3.jpg" th:src="@{/resources/img/pagespreview/3.jpg}" class="img-responsive" alt=""/>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hiring
                                </div>
                                <div class="project-name">
                                    Rent or reserve a bike
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section th:if="${#authorization.expression('!isAuthenticated()')}" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <hr class="primary">
                    <p>Do not hesitate to contact us if you need any further information and would like to speak over the phone or e-mail us</p>
                	</hr>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>0800737854</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:info@raysrentals.com">info@raysrentals.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="../../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="../../../resources/js/jquery.easing.min.js" th:src="@{/resources/js/jquery.easing.min.js}"></script>
    <script src="../../../resources/js/jquery.fittext.js" th:src="@{/resources/js/jquery.fittext.js}"></script>
    <script src="../../../resources/js/wow.min.js" th:src="@{/resources/js/wow.min.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../../resources/js/creative.js" th:src="@{/resources/js/creative.js}"></script>

</body>

</html>
